.card {
    width: 200px;
    height: 300px;
    border: 1px solid rgb(0, 110, 255);
    text-align: center;
    position: relative;
    margin: 25px 25px;
}

.card-img {
    width: 130px;
    height: 180px;
    margin-bottom: 35px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(0, 110, 255);
}

h4 {
    word-wrap: break-word;
    white-space: normal;
}

a {
    text-decoration: none;
    color: black;
}